:root {
    /* 顶部 */
    --header-height: 38px; /* 高度 */
    --header-bgc: #999; /* 背景颜色 */
}

html, body {
    width: 100%;
    height: 100%;
}

/* 顶部 */
header {
    line-height: var(--header-height);
    height: var(--header-height);
    background-color: var(--header-bgc);
}

/* 内容 */
main {
    width: 100%;
    /* height: cale(100% - 50) ; */
    height: 90%;
    overflow: auto;
}

/* 每一行内容 */
main .main-item-p {
    display: flex;
    justify-content: space-around;
}

/* 每一项内容 */
main .main-item {
    width: 30%;
    height: 400px;
    background-color: #666;
    margin-top: 20px;
}